*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content{
  position: relative;
  margin: 133px 30px;
  height: 534px;
  width: 1140px;
}

.result{
  position: absolute;
  left: 0;
  bottom: 0;
}

.result__video-container{
  margin-bottom: 12px;
}

 .result__video{
  min-width: 711px;
  max-height: 386px;
  object-fit: cover;
}

.search-form{
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.search-form__fieldset{
  border: none;
}

.search-form__fieldset-title{
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.visually-hidden{
  position: absolute; 
  width: 1px; 
  height: 1px;
  margin: -1px; 
  padding: 0; 
  border: 0; 
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.search-form__textfield{
  border: none;
  background-color: transparent;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 14px 1.4px 11px 0px;
  height: 22px;
  width: 225px;
  font-family: 'Fira Sans Condensed',serif;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 21.6px;
  font-weight: 400;
  letter-spacing: 0.1px;
  margin-right: 10px;
}

.search-form__textfield:active{
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}

.search-form__label .search-form__textfield:focus-visible{
  outline:solid 1px #fff;
  outline-offset: 1px;
}

.search-form__checkbox-list.search-form__label{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-form__checkbox-list{
  margin-right: 11px;
}

.search-form__checkbox{
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
  display: flex;
  align-items: center;
}

label span.search-form__pseudo-checkbox{
  display: inline-block;
  width: 19px;
  height: 19px;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid #fff;
}

input[type='checkbox']:checked + span{
  outline:1px solid #1B1919;
  outline-offset:-2px;
  background-color: #fff;
}

.search-form__checkbox-list{
  display: flex;
  width: 212px;
  justify-content: space-between;
}

.search-form__checkbox-list .search-form__label:has(:focus-visible){
  outline:solid 1px #fff;
  outline-offset: 1px;
}

.search-form__label-text:hover{
  text-decoration: underline;
  text-underline-offset: 4px;
}

.button{
  font-family: 'Fira Sans Condensed', serif;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid #fff;
  background-color: transparent;
  margin-top: 20px;
  height: 34px;
}

.search-form__submit-button{
  padding: 6px 73.5px;
  width: 194px;
}

.search-form__submit-button:active{
  background-color: #545050;
}

.search-form__submit-button:hover{
  text-decoration: underline;
}

.search-form__submit-button:focus-visible{
  outline:solid 1px #fff;
  outline-offset: 1px;
}

.content__details{
  position: absolute;
  right: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.title{
  font-family: Oswald, serif;
  font-size: 75px;
  line-height: 70.5px;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.content__accent{
  color:#545050;
}

.content__list{
  height: 297px;
  overflow: scroll;
  padding: 2px -2px 2px 0px;
}

.content__list-item:not(:last-child){
  margin-bottom: 30px;
}

.content__card-link:active{
  background-color: #545050;
}

.content__card-link:hover{
  text-decoration: underline;
  text-decoration-color: #fff;
  text-underline-offset: 4px;
  text-decoration-skip-ink: none;
}

.content__card-link:focus{
  outline: none;
}

.content__card-link:focus-visible{
  outline: 2px solid #fff;
}

.content__card-link{
  display: block;
  text-decoration: none;
  margin: 2px;
}

.content__video-card{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2px;
  min-width: 398px;
}

.content__video-card-description-container{
  display: flex;
  flex-direction: column;
  max-width: 200px;
  overflow: hidden;
}

.content__video-card-title{
  font-family: Oswald, serif;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  color: #fff;
  margin-bottom: 4px;
}

.content__video-card-description{
  font-family: 'Fira Sans Condensed', serif;
  color: #fff;
  font-size: 18px;
  line-height: 16.2px;
}

.content__video-card-thumbnail{
  height: 103px;
  min-width: 194px;
}

.more-button{
  padding: 6px 73.5px;
  width: 399px;
}